.social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    margin-top: 50px;
    
 

    a:nth-child(1){
        color: rgb(33,102,194);
    }
    a:nth-child(2){
        color: black;
    }
    a:nth-child(3){
        color: rgba(0, 0, 0, 0.746);    
    }


}